<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post" >
    <p>이름</p>
    <input type="text" name="name" placeholder="ex) 홍길동"/>
    <p>아이디</p>
    <input type="text" name="userId" placeholder="8~16자"/>
    <p>비밀번호</p>
    <input type="password" name="userPassword" placeholder="8~16자"/>
    <p>닉네임</p>
    <input type="text" name="nickname" placeholder="최대 8자"/>
    <p>학교명</p>
    <input type="text" name="schoolName"/>
    <button>로그인</button>
</form>
</body>
</html>